/*========== home page ==========*/
body {
    background-color: #FFF6E9;
}
/* nav bar */
nav.nav-bar {
    background-color: #F4C3C2;
     padding:25px; 
    margin-bottom: 0px;
    
}

.menu-inner {
  margin:0px !important;
}
/* header */
h1 {
    font-size: 50px;
    color:#4B3621;
    font-family: "amandine", sans-serif;
font-weight: 700;
font-style: normal;
text-align: center;
}
p {
    color:#B2DFDC;
    background-color: #4B3621;
    padding:10px;
    margin:0px;
    font-family: "playfair-display", serif;
font-weight: 400;
font-style: normal;
}

h2 {
    font-family: "amandine", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 40px;
}
/* recipes */
ul li {
    list-style-type: none;
   
}

a {
    text-decoration: none !important;
    color:#4B3621;
    padding:5px;
    font-family: "playfair-display", serif;
font-weight: 400;
font-style: normal;
}

a:hover , a:active , a:focus {
    text-decoration: none !important;
    color:#ff0256;
}

div.section-1 {
    text-align: center;
    font-size: 30px;
    
}


/* countdown */
.timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: #4B3621;
    color:white;
    margin:50px;
  }
  .timer-align {
    display: flex;
    justify-content: center;
    align-content: center;
    padding:20px;
    
  }
  .timer-title {
    padding-right:50px;
  }
  .timer__part {
    font-size: 36px;
    font-weight: bold;
  }
  
  .timer__btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: #4B3621;
    background: #F4C3C2;
    cursor: pointer;
  }

  .timer__btn:hover {
    background: #f09997;
  }
  
  .timer__btn--start {
    background: #B2DFDC;
  }
  .timer__btn--start:hover {
    background: #187f78;
  }
  
  .timer__btn--stop {
    background: #ff0256;
  }

  /* camera */
  .camera {
    text-align: center;
    color:#4B3621
  }
input {
    padding:10px;
}

/* banana bread page */
h1.baked-good {
  font-family: "amandine", sans-serif;
font-weight: 700;
font-style: normal;
color:#4B3621;
text-align: center;
}

.steps-header {
  font-family: "playfair-display", serif;
font-weight: 700;
font-style: normal;
font-size:30px;
color:#4B3621;
}

div.ingredients-list {
  margin:45px;
  text-wrap: wrap;
}

div.steps-list {
  margin:45px;
  color:#4B3621;
}

.checkbox {
  font-size: 18px;
  font-family: "playfair-display", serif;
font-weight: 400;
font-style: normal;
color:#4B3621;
line-height: 35px;
}

ion-checkbox {
  --size: 32px;
  --checkbox-background-checked: #B2DFDC;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #B2DFDC;
}

/* apple pie recipe */
div.apple-1 {
  text-align: center;
}
.apple-1 h1 {
  margin-bottom:0px;
}

/* login page */
div.login {
  background-color: #FFF6E9;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #F4C3C2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  color: #4B3621;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #4B3621;
  border-radius: 4px;
}

button {
  background-color: #A8CFCA;
  color: #4B3621;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* button:hover {
   background-color: #4B3621; 
  color: #FFF6E9;
} */
/*========== Offline Page ==========*/
h1.offline-text {
  text-align: center;
  color:#4B3621;
}